{{#partial "content"}}
    <h1>{{ idea.title }}</h1>
    <h2>{{ idea.voteCount }} Voters:</h2>
    <ul>
        {{#each idea.voters}}
            <li>{{ this }}</li>
        {{/each}}
    </ul>
{{/partial}}

{{> base.hbs}}